#blog
  & main
    margin: 0 auto
    max-width: 40em

    & p
      margin-bottom: 3em

      & a
        text-decoration: underline

    & a
      color: currentColor
      text-decoration: none

      &:hover
        text-decoration: underline