#blog
  & main
    margin: 0 auto
    max-width: 40em
    padding: 3em 2em
    position: relative
    &:after
      color: gray
      content: '\00d7\221E\00d7'
      font-size: 300%
      left: 40%
      position: absolute

    & p
      margin-bottom: 3em

      & a
        text-decoration: underline

    & a
      color: currentColor
      text-decoration: none

      &:hover
        text-decoration: underline