#gundalow-juice
  background-color: var(--backroomGrey)
  color: #fff

  & polygon
    fill: #fff

  & #mark
    margin-bottom: 2em
    

  & #case-study-desc
    width: 90%
    margin: 5em auto
    text-align: center

    @media (min-width: 25.875em)
      max-width: 32em

    & p 
      line-height: 1.8em

  & figure

    @media (min-width: 48em) 
      width: 100%
      margin: auto

    & img
      width: 100%
      margin-left: 3em

      
